* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Onest-Regular';
    font-size: 20px;
}

:root {
    --White: white;
    --Blue: #3F77E8;
    --LightBlue: #92B3F0;
    --RegButton: linear-gradient(80deg, #7DC0FD, #5768FD);
    --GlassBtn: linear-gradient(80deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.04));
    --WhiteGlass: linear-gradient(80deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.48));
    --WhiteStroke: linear-gradient(to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0));
    --RedGradient: linear-gradient(80deg, #FF7948, #FF1271);

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    height: 1000px;

    background-image: url(./assets/images/main-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
}


.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 64px;
    padding: 10px 40px;
    margin-top: 20px;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
}

.header__container::after {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    padding: 2px;

    background: var(--WhiteStroke);

    -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
    z-index: -1;
}

.headerlogo {
    font-size: 32px;
    background: var(--RegButton);
    background-clip: text;
    color: transparent;
}

.headernav {
    background: var(--RegButton);
    background-clip: text;
    color: transparent;

    display: flex;
    gap: 40px;
}


.header__button {
    border-radius: 64px;

    padding: 10px 40px;
    background-image: var(--RegButton);
    color: var(--White);
}
